@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300&display=swap');

body {margin: 0px; font-family:'Anton', sans-serif;
width: 100vw} 

header {
  background-color: #C0B99D;
  color: white;
  height: 60px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;}

.logo {display: flex;}

.logo img {height: 40px;
margin: 10px; 
padding-top: 10px}

a {color: black;
text-decoration: none;
padding: 20px;}

.encabezado {text-align: center; 
  color: white; 
  background-image: url(img/datos2.png); 
  background-size: cover;
  height: 650px;
  background-attachment: fixed;}

.titulo1 {margin: 0px;
padding-top: 325px}

.titulo2 {margin: 0px;
padding-top: 50px;
font-family:'Tajawal', sans-serif; 
font-size: 150px; 
padding-left: 70px;
padding-right: 70px;
line-height: 120px; 
letter-spacing: 7px;}

.texto1 {margin: 0px;
padding-top: -3px;
font-family:'Tajawal', sans-serif; 
font-size: 15px; 
padding-left: 250px;
padding-right: 250px;
line-height: 20px;
text-align: center;
position: flex}

.desarrollo {text-align: center; 
  color:black; 
  background-color: #C0B99D; 
  background-size: cover;
  height: 500px;
  background-attachment: fixed;}

.michael2 {text-align: center; 
  color: white; 
  background-image: url(imagen/lindo.png); 
  background-size: cover;
  height: 650px;
  background-attachment: fixed;}

.galeria {text-align: center;
margin: 50px;
padding-top: -100px;
margin-top: -640px}

.titulo {text-align: left;
margin-left: 10px;
padding-top: 20px;
margin-top: -20px}

.texto2  {text-align: left;
margin-left:;
margin-right: 940px;
font-family:'Tajawal', sans-serif;}

.imagen1 {display: inline-block;
  margin: 10px;
  height: 200px;
  width: 300px;}

.contenedor-imagen1 {width: 500px;
width: 300px;
text-align: right;
margin: 90px;
position: absolute;
margin-top: -270px;
margin-left: 130px;
margin-right: 0;
margin-bottom: -300px}

.variacion {display: inline-flex;
margin: 50px;}

.variaciones {margin-top: 50px;
padding-top: 50px;
position: inline-flex}

.titulo4 {text-align: left;
margin-left: 60px;
padding-top: 40px;
margin-top: -280px}

.contenedor-imagen {position: inline-flex;
  width: 200px;
  height: 200px;
  text-align: right;
  margin: 20px;
  margin-top: -60px;
}

.textop1 {margin-top: -50px; 
  margin-right: -90px;
}

.textop2 {font-family:'Tajawal', sans-serif; 
  margin-right: 400px;
}

.textop4 {font-family:'Tajawal', sans-serif;}

.textop6 {font-family:'Tajawal', sans-serif;}

.textop8 {font-family:'Tajawal', sans-serif;}

.textop9 {font-family:'Tajawal', sans-serif; 
  margin-right: 400px;
}

footer {
  background-color: #C0B99D;
  height: 270px;
  color: black;
  font-family:'Tajawal', sans-serif;
}

.titulo5 {margin-left: 50px;
margin-bottom: -150px;
margin-top: 20px;
}

.elementos-footer1 {
  display: inline-flex;}

.fot1 ,.fot2 ,.fot3 ,.fot4 {margin: 50px; 
  margin-left: 150px; 
  display: inline-flex;
  margin-top: 170px;
  margin-bottom: -100px; 
  }

.material-symbols-outlined {margin: 0px;
color: white;
position: absolute;
margin-top: 15px;
margin-right: 40px;
padding-right: 20px;
}

.conclusion1 {margin-left: 50px}